{% extends 'homepage.html' %}
{% load widget_tweaks %}

{% block extra-links %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block content %}
<div class="py-5 bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-4">

        <!-- Back link -->
        <a data-analytics="" data-cta=""  href="{% url 'list_posts' %}" class="btn btn-link p-0 mb-3">
          <i class="fa-solid fa-arrow-left"></i> Back To All Posts
        </a>

        <!-- Login form -->
        <div class="p-4 border rounded bg-white shadow-sm">
          <!-- Info message -->
          <h6 class="text-danger mb-3">
            You need to login to create, edit, delete, like or comment on a post
          </h6>

          <h2 class="page-title mb-4 text-center">Account Login</h2>

          <form method="post" novalidate>
            {% csrf_token %}
            <div style="color:crimson;">
              {{ form.non_field_errors }}
            </div>
            <div class="mb-3">
              {{ form.username.label_tag }}
              {{ form.username|add_class:"form-control"|attr:"autofocus" }}
            </div>

            <div class="mb-3">
              {{ form.password.label_tag }}
              {{ form.password|add_class:"form-control" }}
            </div>

            <!-- Make button consistent with Save button -->
            <button data-analytics="" data-cta=""  type="submit" class="btn btn-primary d-block mx-auto">
              <i class="fa-solid fa-right-to-bracket"></i> Login
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}



