{% extends 'homepage.html' %}

{% block extra-links %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block content %}
    <div class="py-5 bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8">
                    <!-- Back link -->
                    <a data-analytics="" data-cta=""  href="{% url 'list_posts' %}" class="btn btn-link p-0 mb-3">
                        <i class="fa-solid fa-arrow-left"></i> Back To All Posts
                    </a>

                    {% if form.instance.pk %}
                        <h1 class="mb-4 text-center">Edit Post</h1>
                    {% else %}
                        <h1 class="mb-4 text-center">Create Post</h1>
                    {% endif %}

                    <form method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
                    {% csrf_token %}

                    {% for field in form %}
                        <div class="mb-3">
                            <label for="{{ field.id_for_label }}" class="form-label">
                                {{ field.label }}
                            </label>
                            {{ field }}
                            {% if field.help_text %}
                                <div class="form-text">{{ field.help_text }}</div>
                            {% endif %}
                            {% for error in field.errors %}
                                <div class="text-danger small">{{ error }}</div>
                            {% endfor %}
                        </div>
                    {% endfor %}

                    <button data-analytics="" data-cta=""  type="submit" class="btn btn-primary d-block mx-auto">
                        <i class="fa-solid fa-save"></i> Save
                    </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

