{% extends 'homepage.html' %}
{% load static %}

{% block new-title %}
    <title>Blog Posts</title>
{% endblock %}

{% block extra-links %}
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        body {
            background: white !important;
        }

        .post-card {
            background: gainsboro !important;
        }
    </style>
{% endblock %}
    
{% block content %}
    <div class="container">
        <div style="display: flex; justify-content: space-between; align-items: center; padding: 10px;">
            <div>
                <a data-analytics="" data-cta=""  href="{% url 'homepage' %}"><b>Home Page</b></a>&nbsp;
                <a data-analytics="" data-cta=""  href="{% url 'create_post' %}"><b>New Post</b></a>
            </div>

            {% if request.user.is_authenticated %}
                <div style="display: flex; align-items: center; gap: 10px;">
                    <span>Welcome, {{ request.user }}</span>
                    <form method="post" action="{% url 'logout' %}" style="margin: 0;">
                        {% csrf_token %}
                        <button data-analytics="" data-cta=""  type="submit" style="width: 70px; height: 25px;background-color: darkblue;border-style: none;color: white;cursor: pointer;padding: 0;"><b>Logout</b></button>
                    </form>
                </div>
            {% else %}
                <div style="display: flex; align-items: center; gap: 10px;">
                    <form method="post" action="{% url 'login' %}" style="margin: 0;">
                        {% csrf_token %}
                        <button data-analytics="" data-cta=""  type="submit" style="width: 70px; height: 25px;background-color: darkblue;border-style: none;color: white;cursor: pointer;padding: 0;"><b>Login</b></button>
                    </form>
                    <button data-analytics="" data-cta="" onclick="location.href='{% url 'register_user' %}'" style="width: 70px; height: 25px;background-color: darkblue;border-style: none;color: white;cursor: pointer;padding: 0;"><b>Sign Up</b></button>
                </div>
            {% endif %}
        </div>

        <h1>Echonet Blog Posts</h1>
        {% for post in posts %}
            <div class="post-card" id="post-{{ post.id }}">
                <h2><a data-analytics="" data-cta=""  href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h2>
                <p>{{ post.body|truncatechars:150 }}</p>
                <span>Author: {{ post.author }}</span>&nbsp;&nbsp;&nbsp;
                <span>{{ post.publishDate }}</span>
                <div class="post-media">
                    {% if post.image %}
                        <img src="{{ post.image.url }}" alt="Post Image">
                    {% endif %}
                    {% if post.video %}
                        <video controls>
                            <source src="{{ post.video.url }}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    {% endif %}
                </div>

                <div class="post-footer">
                    <div style="display: flex;gap: 15px;">
                        <span><i class="fa-solid fa-thumbs-up" title="Number of Likes" style="color: teal;"></i>: {{ post.total_likes }}</span>
                        <span><i class="fa-solid fa-comment" title="Number of Comments" style="color:goldenrod"></i>: {{ post.total_comments }}</span>
                    </div>
                    <div class="actions">
                        <a data-analytics="" data-cta="" href="{% url 'edit_post' id=post.id %}"><i class="fa-solid fa-pen-to-square" title="Edit Post" style="color: darkblue;"></i></a>
                        <a data-analytics="" data-cta="" href="{% url 'delete_post' post.id %}"><i class="fa-solid fa-trash" title="Delete Post" style="color: brown;"></i></a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>No posts available.</p>
        {% endfor %}
    </div>
{% endblock %}
